<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89329601352-vr8u156hcbvl3pbm5he8hi2r6uc7qobv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89329601352-vr8u156hcbvl3pbm5he8hi2r6uc7qobv</string>
	<key>API_KEY</key>
	<string>AIzaSyD2k6RQHt4kYYtXhpikSz4PNclN_a4uMAg</string>
	<key>GCM_SENDER_ID</key>
	<string>89329601352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukeklepfer.app.Workout</string>
	<key>PROJECT_ID</key>
	<string>workout-5307b</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-5307b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89329601352:ios:127e3fb1722e92b3</string>
	<key>DATABASE_URL</key>
	<string>https://workout-5307b.firebaseio.com</string>
</dict>
</plist>